<div class="card p-4 overflow-hidden" [formGroup]="giftForm" dir="rtl">
    <h3 class="mt-0 mb-4 text-primary">
        {{ config.data ? 'עריכת מתנה: ' + config.data.name : 'הוספת מתנה חדשה' }}
    </h3>

    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 flex flex-column gap-2 mb-4 px-2">
            <label for="name" class="font-bold">שם המתנה</label>
            <input pInputText id="name" formControlName="name" placeholder="הכנס שם..." class="w-full" />
            @if (giftForm.get('name')?.invalid && giftForm.get('name')?.touched) {
            <small class="p-error">חובה להזין שם (עד 30 תווים)</small>
            }
        </div>

        <div class="col-12 md:col-6 flex flex-column gap-2 mb-4 px-2">
            <label for="value" class="font-bold">ערך (בשקלים)</label>
            <p-inputNumber id="value" formControlName="value" mode="currency" currency="ILS" locale="he-IL"
                placeholder="₪0.00" [styleClass]="'w-full'" [inputStyleClass]="'w-full'" />
            @if (giftForm.get('value')?.invalid && giftForm.get('value')?.touched) {
            <small class="p-error">חובה להזין ערך</small>
            }
        </div>

        <div class="col-12 flex flex-column gap-2 mb-4 px-2">
            <label for="description" class="font-bold">תיאור קצר</label>
            <textarea pInputTextarea id="description" formControlName="description" rows="4"
                placeholder="הכנס תיאור..." class="w-full"></textarea>
            @if (giftForm.get('description')?.invalid && giftForm.get('description')?.touched) {
            <small class="p-error">חובה להזין תיאור (עד 100 תווים)</small>
            }
        </div>

        <div class="col-12 flex flex-column gap-2 mb-4 px-2">
            <label for="details" class="font-bold">פרטים נוספים</label>
            <textarea pInputTextarea id="details" formControlName="details" rows="4"
                placeholder="הכנס פרטים נוספים..." class="w-full"></textarea>
        </div>

        <div class="col-12 md:col-6 flex flex-column gap-2 mb-4 px-2">
            <label for="category" class="font-bold">בחר קטגוריה</label>
            <p-select id="category" [options]="categories" formControlName="categoryId" optionLabel="name" 
                [filter]="true" filterBy="name" [showClear]="true" appendTo="body" [styleClass]="'w-full'"
                optionValue="id" placeholder="בחר קטגוריה...">
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2">
                        <img [src]="BASE_IMG_URL_c + selectedOption.picture" class="select-item-img" />
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-category #item>
                    <div class="flex items-center gap-2">
                        <img [src]="BASE_IMG_URL_c + category.picture" class="select-item-img" />
                        <div>{{ category.name }}</div>
                    </div>
                </ng-template>
            </p-select>
            @if (giftForm.get('categoryId')?.invalid && giftForm.get('categoryId')?.touched) {
            <small class="p-error">חובה לבחור קטגוריה</small>
            }
        </div>

        <div class="col-12 md:col-6 flex flex-column gap-2 mb-4 px-2">
            <label for="donor" class="font-bold">בחר תורם</label>
            <p-select id="donor" [options]="donors" formControlName="donorId" optionLabel="first_name"
                optionValue="id" appendTo="body" [styleClass]="'w-full'" placeholder="בחר תורם...">
            </p-select>
            @if (giftForm.get('donorId')?.invalid && giftForm.get('donorId')?.touched) {
            <small class="p-error">חובה לבחור תורם</small>
            }
        </div>

        <div class="flex flex-column gap-3 mb-4 col-12 px-2">
            <label class="font-bold">תמונת המתנה</label>
            <p-fileUpload #f mode="basic" [auto]="true" chooseLabel="בחר תמונה" accept="image/*"
                (onSelect)="onFileSelect($event)" class="w-fit" />
            @if(previewImage) {
            <div class="relative mt-2 border-round overflow-hidden shadow-2" style="width: 120px; height: 120px;">
                <img [src]="previewImage" class="w-full h-full object-cover" />
                <button pButton (click)="f.clear(); previewImage = null" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-sm absolute top-0 right-0 m-1"></button>
            </div>
            }
        </div>
    </div>

    <div class="flex justify-content-end gap-2 mt-5">
        <p-button label="ביטול" icon="pi pi-times" [text]="true" severity="secondary" (click)="cancel()" />
        <p-button label="שמור" icon="pi pi-check" (click)="save()" [disabled]="giftForm.invalid" />
    </div>
</div>