<div class="luxury-wrapper " dir="rtl">
  <header class="gallery-header">
    <div class="container">
      <h1 class="title-main">אוסף המתנות</h1>
      @if(user && user.role === 0) {
      <button pButton (click)="addGift()" label="Add New Gift" icon="pi pi-plus"
        class="add-gift-btn p-button-rounded font-semibold"></button>
      }
    </div>
  </header>

  <div class="gallery-container">
    <div class="grid">
      @for (gift of gifts; track gift.id; let i = $index) {
      <div class="col-12 sm:col-6 lg:col-3 gift-card" [style.--delay]="i">
        <div class="card-glass">

          <div class="card-img-holder">
            <img [src]="IMAGE_BASE_URL + gift.picture" [alt]="gift.name" class="gift-img">
            <div class="price-overlay">{{ gift.value | currency: 'ILS' }}</div>
          </div>

          <div class="card-info">
            <h2 class="gift-name">{{ gift.name }}</h2>
            <p class="gift-tagline">{{ gift.description }}</p>

            <div class="donor-premium-box" *ngIf="gift.donor">
              <div class="donor-content" [class.anonymous]="!gift.donor.is_publish">
                <div class="logo-wrapper">
                  <img *ngIf="gift.donor.is_publish && gift.donor.company_picture"
                    [src]="DONOR_BASE_URL + gift.donor.company_picture" class="donor-logo">

                  <div *ngIf="!gift.donor.is_publish || !gift.donor.company_picture" class="donor-placeholder-icon">
                    <i [class]="gift.donor.is_publish ? 'pi pi-building' : 'pi pi-user-fade'"></i>
                  </div>
                </div>

                <div class="donor-details">
                  <span class="sponsored-label">מוקדש על ידי</span>

                  <span class="donor-name-text"
                    [pTooltip]="gift.donor.is_publish ? gift.donor.company_description : 'תרומה זו ניתנה בעילום שם'"
                    [class.italic-text]="!gift.donor.is_publish">
                    {{ gift.donor.is_publish ? gift.donor.company_name : 'החפץ בעילום שמו' }}
                  </span>
                </div>
              </div>
            </div>

            <div class="card-footer flex justify-content-center">
              <p-button [label]="gift.is_lottery ? 'הגרלה סגורה' : 'הוספה לסל'" [disabled]="gift.is_lottery"
                class="w-full" styleClass="btn-main" (click)="addToCart(gift)">
              </p-button>

              <p-button icon="pi pi-info-circle" styleClass="btn-sub" (click)="showDetails(gift)">
              </p-button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<p-toast />
<p-confirmdialog #cd>
  <ng-template pTemplate="headless" let-message let-onAccept="onAccept" let-onReject="onReject">
    @if (message) {
    <div class="confirm-dialog">
      <div class="dialog-icon">
        <i class="pi pi-question"></i>
      </div>
      <span class="dialog-header">{{ message.header }}</span>
      <p class="dialog-message">{{ message.message }}</p>
      <div class="dialog-actions">
        <p-button [label]="message.acceptLabel" (onClick)="onAccept()" [outlined]="true"
          class="w-10rem pt-2 pb-2"></p-button>
        <p-button [label]="message.rejectLabel" [outlined]="true" (onClick)="onReject()" class="w-10rem"></p-button>
      </div>
    </div>
    }
  </ng-template>
</p-confirmdialog>