<div class="luxury-wrapper " dir="rtl">
  <header class="gallery-header">
    <div class="container">
      <h1 class="title-main">קטגוריות</h1>
      @if(role=='0') {
      <button pButton (click)="showChild()" label="הוספת קטגוריה" icon="pi pi-plus"
        class="add-gift-btn p-button-rounded font-semibold"></button>
      }
    </div>
  </header>
  <div class="bg-texture" style="background-image: url('assets/gifts.jpg');"></div>

  <div class="gallery-container">
    <div class="grid">
      @for (category of (categories$ | async); track category.id; let i = $index) {
      <div class="col-12 sm:col-6 lg:col-3 gift-card" [style.--delay]="i">
        <div class="card-glass">

          <div class="card-img-holder">
            <img [src]="IMAGE_BASE_URL + category.picture" [alt]="category.name" class="gift-img" (click)="navigateToGifts(category.id)">
          </div>

          <div class="card-info">
            <h2 class="gift-name">{{ category.name }}</h2>
            <p class="gift-tagline">{{ category.gifts?.length || 0 }} מתנות</p>

            <div class="card-footer flex justify-content-center">
              <p-button label="צפייה במתנות" styleClass="btn-main" (click)="navigateToGifts(category.id)">
              </p-button>

              @if(role=='0') {
              <p-button icon="pi pi-pencil" styleClass="btn-sub" (click)="onEditCategory(category.id)">
              </p-button>

              <p-button icon="pi pi-trash" styleClass="btn-sub" (click)="onDeleteCategory(category.id)">
              </p-button>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<p-toast />