.category-item {
    transition: transform 0.2s ease-in-out;
    
    &:hover {
        transform: translateY(-5px); /* קפיצה קלה למעלה בריחוף */
    }
}

.animate-fadein {
    animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}