/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');
@import "primeflex/primeflex.css";
:root {
    --font-family: 'Heebo', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* עדכון ספציפי לרכיבי PrimeNG כדי שיצייתו לגופן החדש */
.p-component {
    font-family: var(--font-family) !important;
}